{% extends 'base.html.twig' %}

{% block title %}{{ title}}{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Lista de Productos</h1>
        <hr>
        <a href="{{ path('new_product') }}" class="btn btn-success">
            Nuevo Producto
        </a>
        <a href="{{ path('app_product') }}" class="btn btn-success">
            Volver
        </a>
        <hr>    
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Detalles Productos</li>
                <li class="list-group-item"><strong>Codigo:</strong> {{ product.code }}</li>
                <li class="list-group-item"><strong>Nombre:</strong> {{ product.name }}</li>
                <li class="list-group-item"><strong>Descripcion:</strong> {{ product.description }}</li>
                <li class="list-group-item"><strong>Marca:</strong> {{ product.brand }}</li>
                <li class="list-group-item"><strong>Precio:</strong> {{ product.price }}</li>
            </ul>

        </div>

    </div>
{% endblock %}

